[Unit]
Description=Keyboard Trigger Server for FullPageOS
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/keyboardTriggerServer/server.js
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/keyboardTriggerServer

[Install]
WantedBy=multi-user.target
